/* Home */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
}

section nav {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

section nav .logo img {
  width: 200px; /* Increase the width to your desired size */
  cursor: pointer;
  margin: 15px 0 7px 8px;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 15px;
}

section nav ul li a {
  text-decoration: none;
  color: black; /* Change the color to black */
  font-weight: bold; /* Make the font bold */
  font-size: 17px;
  transition: 0.1s;
}

section nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #ff0000;
  display: block;
  transition: 0.2s linear;
}

section nav ul li a:hover::after {
  width: 100%;
}

section nav ul li a:hover {
  color: #ff0000;
}

section nav .icon i {
  font-size: 20px;
  color: black; /* Change the color to black */
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

section nav .icon i:hover {
  color: #ff0000;
}

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 130px;
}

section .main .men_text h1 {
  font-size: 60px;
  position: relative;
  top: -90px;
  left: 70px;
  color: black; /* Change the color to black */
  font-weight: bold; /* Make the font bold */
}

section .main .men_text h1 span {
  margin-left: 15px;
  color: #ff0000;
  font-family: mv boli;
  line-height: 22px;
  font-size: 70px;
}

section .main .main_image img {
  width: 700px;
  position: relative;
  left: 70px;
}

section p {
  width: 650px;
  text-align: justify;
  position: relative;
  left: 123px;
  bottom: 120px;
  line-height: 22px;
}

section .main_btn {
  background: #ff0000;
  position: relative;
  left: 173px;
  bottom: 30px;
  width: 150px;
  cursor: pointer;
  padding: 12px 25px;
}

section .main_btn a {
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

section .main_btn i {
  color: #fff;
  transition: 0.3s;
}

section .main_btn:hover i {
  transform: translateX(7px);
}

/*About*/

.about{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.about .about_main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about_main .image img{
  width: 800px;
  position: relative;
  top: 60px;
}

.about .about_main .about_text h1 span{
  color: #ff0000;
  margin-right: 15px;
  font-family: mv boli;
}

.about .about_main .about_text h1 span::after {
  content: '';
  display: block;
  width: 22%;
  height: 2px;
  background: #ff0000;
  position: absolute;
  bottom: 15px; /* Adjust the distance from the text */
}

.about .about_main .about_text h1{
  font-size: 55px;
  position: relative;
  bottom: -30px;
}

.about .about_main .about_text h3 {
  font-size: 30px;
  position: relative;
  margin: 0 0 50px 0; /* Adjust the margin values as needed */
  bottom: -40px;
}

.about .about_main .about_text p {
  width: calc(85% - 80px); /* Adjust the width and margin-right values */
  text-align: justify;
  margin-left: 2px;
  margin-right: 30px;
  bottom: -20px;
  line-height: 22px;
}

.about .about_btn{
  background: #ff0000;
  padding: 12px 25px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 53%;
  bottom: 30px;
}

/*Internship*/

.internship{
  width: 100%;
  padding: 70px 0;
}

.internship h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.internship h1 span{
  color: #ff0000;
  margin-left: 15px;
  font-family: mv boli;
}

.internship h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: #ff0000;
  display: block;
  position: relative;
  bottom: 15px;
}

.internship .internship_box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.internship .internship_box .internship_card{
  width: 325px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.internship .internship_box .internship_card .internship_image{
  width: 300px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}

.internship .internship_box .internship_card .internship_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.internship .internship_box .internship_card .internship_image:hover img{
  transform: scale(1.1);
}

.internship .internship_box .internship_card .small_card{
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.internship .internship_box .internship_card:hover .small_card{
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}

.internship .internship_box .internship_card .small_card i{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}

.internship .internship_box .internship_card .small_card i:hover{
  color: #ff0000;
}

.internship .internship_box .internship_card .internship_info h2{
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: #ff0000;
}

.internship .internship_box .internship_card .internship_info p{
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}

.internship .internship_box .internship_card .internship_info h3{
  text-align: center;
  margin-top: 10px;
}

.internship .internship_box .internship_card .internship_info .internship_icon{
  color: #ff0000;
  text-align: center;
  margin: 10px 0 10px 0;
}

.internship .internship_box .internship_card .internship_info .internship_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
}

/*Footer*/

footer{
  width: 406%;
  padding: 30px 0 0 20px;
  background: #eeeeee;
}

footer .footer_main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
  text-align: center;
}

footer .footer_main .footer_tag p{
  margin: 10px 0;
  width: 500%;
}

footer .footer_main .footer_tag i{
  margin: 0 5px;
  cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
  color: #ff0000;
}

footer .end{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span{
  color: #ff0000;
  margin-left: 10px;
}

::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: #ff0000;
  border-radius: 15px;
}